.idea
.venv
data
key.txt
con.py
photo_2025-08-28_13-56-32_base64.txt
sticker_copyproof_tag.png
get.py
ChatGPT Image 22 Ağu 2025 16_28_03.png
ChatGPT Image 22 Ağu 2025 16_28_03_base64.txt
generate_service1.py
output.png
asli.jpg
copy.jpg